html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #333;
  cursor: default;
}
[contenteditable]:active,
[contenteditable]:focus,
button:active,
button:focus {
  outline: none;
}
[contenteditable] {
  cursor: text;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.editor,
.program {
  display: table;
}
.line {
  display: table-row;
}
.lineLeft {
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding-right: 36px;
  padding-top: 6px;
}
.lineRight {
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding-top: 6px;
  padding-right: 6px;
}
.word {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 6px;
}
.wordSpacer {
  display: inline-block;
  padding: 3px 3px;
  color: #999;
  margin-bottom: 6px;
}
.lineOutput {
  background-color: #eef;
  color: #000;
  font-weight: bold;
}
.param {
  padding: 0;
  border-radius: 0;
}
.paramLabel,
.paramLabelEmpty {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  background-color: #efefdf;
  color: #7f7f77;
  padding: 3px;
}
.paramLabel:after,
.paramLabelEmpty:after {
  content: ":";
}
.paramLabelEmpty {
  color: transparent;
}
.paramValue {
  display: inline-block;
  border-radius: 0 5px 5px 0;
  background-color: #ffe;
  padding: 3px;
  color: #000;
  font-weight: bold;
}
.that {
  background-color: #eee;
  color: #666;
}
.placeholder {
  color: #999;
}
.op {
  color: #000;
  padding: 3px 0;
}
