html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #333;
  cursor: default;
}
[contenteditable]:active,
[contenteditable]:focus,
button:active,
button:focus {
  outline: none;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.draggingObject {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
.draggingObject > * {
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.draggingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.program {
  display: table;
}
.line {
  display: table-row;
}
.line:hover {
  background-color: #f8fbff;
}
.lineLeft {
  display: table-cell;
  padding-top: 4px;
}
.lineRight {
  display: table-cell;
  padding-top: 4px;
  padding-right: 12px;
  padding-left: 12px;
  border-left: 1px solid #eee;
}
.word {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 4px;
}
.highlighted {
  box-shadow: 0px 0px 8px 4px #6cf;
}
.wordSpacer {
  position: relative;
  display: inline-block;
  cursor: text;
  padding: 3px 3px;
  color: #999;
  margin-bottom: 4px;
}
.lineLeft > .wordList > *:last-child {
  padding-right: 18px;
}
.lineOutput {
  background-color: #eef;
  color: #000;
  font-weight: bold;
}
.param {
  padding: 0;
}
.paramLabel {
  display: inline-block;
  min-width: 3px;
  border-radius: 5px 0 0 5px;
  background-color: #efefdf;
  color: #7f7f77;
  padding: 3px;
}
.paramLabel:not(:empty):after {
  content: ":";
}
.paramValue {
  display: inline-block;
  min-width: 3px;
  border-radius: 0 5px 5px 0;
  background-color: #ffe;
  padding: 3px;
  color: #000;
  font-weight: bold;
}
.that {
  background-color: #eef;
  color: #77777f;
  font-style: italic;
}
.placeholder {
  cursor: text;
  color: #999;
}
.op {
  color: #000;
  padding: 3px 0;
}
.wordSpacer.activeTransclusionDrop:before {
  position: absolute;
  content: "";
  top: 0;
  left: 2px;
  width: 2px;
  height: 100%;
  box-shadow: 0px 0px 8px 4px #def;
  background-color: #6e777f;
}
