html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #333;
  cursor: default;
}

[contenteditable]:active, [contenteditable]:focus, button:active, button:focus {
  outline: none;
}
[contenteditable] {
  cursor: text;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}






.editor {
  display: table;
}

.line {
  display: table-row;
}

.lineLeft {
  display: table-cell;
  border-bottom: 1px solid #ccc;
  padding-right: 36px;
  padding-top: 6px;
}

.lineRight {
  display: table-cell;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
  padding-right: 6px;
}


.word {
  display: inline-block;
  padding: 6px 0px;
  margin-bottom: 6px;
}
.wordSpacer {
  display: inline-block;
  padding: 6px 3px;
  color: #999;
  margin-bottom: 6px;
}


.lineOutput {
  background-color: #dce;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
}


.param {
  background-color: #cec;
  padding: 0;
  border-radius: 6px;
}
.paramLabel {
  display: inline-block;
  color: #797;
  padding: 6px;
}
.paramLabel:after {
  content: ":";
}
.paramLabelEmpty {
  display: inline-block;
  padding: 6px;
  width: 0px;
}
.paramValue {
  display: inline-block;
  padding: 6px 6px 6px 0px;
  color: #000;
  font-weight: bold;
}

.that {
  background-color: #eee;
  color: #666;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

.placeholder {
  padding-left: 6px;
  padding-right: 6px;
  color: #999;
}

.op {
  color: #000;
}







