// ============================================================================
// Config
// ============================================================================

wordPadding = 3px
wordBorderRadius = 5px
lineSpacing = 4px

paramColor = #ffe
lineOutputColor = #eef


inline(va)
  display inline-block
  vertical-align va


// ============================================================================
// Generic
// ============================================================================

html, body
  // overflow hidden
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size 13px
  // line-height 14px
  color #444
  cursor default
  margin 0

[contenteditable]:active, [contenteditable]:focus, button:active, button:focus
  outline none

canvas
  position absolute
  width 100%
  height 100%

#editor
  margin 24px
  white-space nowrap

// ============================================================================
// Dragging
// ============================================================================

.draggingObject
  position: absolute;
  z-index: 100;
  pointer-events: none;
.draggingObject > *
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);

.draggingOverlay
  position: absolute
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 200






.MainPlot
  position relative
  inline(top)
  width 360px
  height 360px
  margin-right 12px

.RootExprTree
  inline(top)
  margin-right 6px

.ExprTree
  inline(bottom)

.ExprNode
  position relative
  margin-bottom -1px
  padding-right 6px
  margin-right 6px
  width 210px
  &:hover
    background-color #eff

.ExprNodePlaceholder
  width 216px
  height 40px
  margin-top 1px
  background-color #bbb
  box-shadow inset 0px 1px 3px rgba(0,0,0,0.5)


.ExprThumbnail
  position relative
  inline(middle)
  border 1px solid #eee
  background-color #fff
  width 40px
  height 40px


.ExprInternals
  inline(middle)
  .ExprThumbnail
    margin-left 6px
    width 28px
    height 28px

.Variable
  inline(middle)
  margin-left 6px
  background-color #fff
  border-radius 4px

.VariableLabel, .VariableValue
  inline(middle)
  padding 2px 4px

.VariableLabel
  background-color rgba(0, 0, 0, 0.2)
  border-radius 4px 0px 0px 4px

.VariableValue
  background-color rgba(0, 0, 0, 0.1)
  border-radius 0px 4px 4px 0px
  min-width 30px

.FnLabel
  inline(middle)
  margin-left 6px
  min-width 11px // so +, -, *, and / line up

.CustomFnHeader
  padding-bottom 12px
  margin-bottom 12px
  border-bottom 1px solid #eee
  .FnLabel
    font-weight bold
    margin-left 0px





.ApplicationAutoComplete
  position absolute
  z-index 20
  cursor default
  left 0
  top 100%
  padding 6px
  margin -6px
  background-color #fff
  border-radius 6px
  box-shadow 0px 2px 18px rgba(0,0,0,0.3)
  .CreateExprButton
    display none
  .Scroller
    width 216px
    height 200px
    overflow-x hidden
    overflow-y auto





PlusButtonSize = 14px

.CreateExprButton, .CreateRootExprButton
  width PlusButtonSize
  height PlusButtonSize
  padding 0
  line-height PlusButtonSize
  font-size 9px
  color #777
  font-family verdana
  font-weight bold
  text-shadow 0 1px 0 rgba(255,255,255,0.5)
  background-color #ddd
  background-image linear-gradient(to bottom, #eee, #ccc)
  box-shadow 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55)
  border-radius 20px
  border 0px
  &:before
    content "+"
  &:hover
    background-image linear-gradient(to bottom, #f3f3f3, #d3d3d3)
  &:active
    background-image linear-gradient(to bottom, #cacaca, #d5d5d5)
    box-shadow 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4)


.CreateExprButton
  position absolute
  z-index 10
  left 50%
  margin-left -0.5 * PlusButtonSize
  bottom -0.5 * PlusButtonSize

.CreateExprButton
  opacity 0
.ExprNode:hover .CreateExprButton
  opacity 1


.CreateRootExprButton
  opacity 0
.CustomFnDefinition:hover .CreateRootExprButton
  opacity 1

