// ============================================================================
// Config
// ============================================================================

wordPadding = 3px
wordBorderRadius = 5px
lineSpacing = 4px

paramColor = #ffe
lineOutputColor = #eef


// ============================================================================
// Generic
// ============================================================================

html, body
  height 100%
  overflow hidden
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size 14px
  // line-height 14px
  color #333
  cursor default

[contenteditable]:active, [contenteditable]:focus, button:active, button:focus
  outline none

canvas
  position absolute
  width 100%
  height 100%


// ============================================================================
// Dragging
// ============================================================================

.draggingObject
  position: absolute;
  z-index: 100;
  pointer-events: none;
.draggingObject > *
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);

.draggingOverlay
  position: absolute
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 200



// ============================================================================
// Editor
// ============================================================================

.program
  display table


// ============================================================================
// Lines
// ============================================================================

.line
  display table-row
  &:hover
    background-color: tint(#def, 80%)

.lineLeft
  display table-cell
  padding-top lineSpacing

.lineRight
  display table-cell
  padding-top lineSpacing
  padding-right 12px
  padding-left: 12px
  border-left: 1px solid #eee


// ============================================================================
// Words
// ============================================================================

.word
  display inline-block
  padding wordPadding
  border-radius wordBorderRadius
  margin-bottom lineSpacing

.highlighted
  box-shadow 0px 0px 8px 4px #6cf

.wordSpacer
  position relative
  display inline-block
  cursor text
  padding wordPadding 3px
  color #999
  margin-bottom lineSpacing

.lineLeft > .wordList > *:last-child
  padding-right: 18px

.lineOutput
  background-color lineOutputColor
  color #000
  font-weight bold

.param
  padding 0

.paramLabel
  display inline-block
  min-width wordPadding
  border-radius wordBorderRadius 0 0 wordBorderRadius
  background-color shade(paramColor, 6%)
  color shade(paramColor, 50%)
  padding wordPadding
  &:not(:empty):after
    content: ":"

.paramValue
  display inline-block
  min-width wordPadding
  border-radius 0 wordBorderRadius wordBorderRadius 0
  background-color paramColor
  padding wordPadding
  color #000
  font-weight bold

.that
  background-color lineOutputColor
  color shade(lineOutputColor, 50%)
  font-style italic

.placeholder
  cursor text
  color #999

.op
  color #000
  padding wordPadding 0



.wordSpacer.activeTransclusionDrop:before
  position absolute
  content ""
  top 0
  left 2px
  width 2px
  height 100%
  box-shadow 0px 0px 8px 4px #def
  background-color shade(#def, 50%)
